<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee Review System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/welcome.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


  <h1>Welcome <%=user.name%> to the <%=user.role%> side</h1>
</div>
<% if (user.role=="Admin"){%>
  <div class="divdemo"}>
  <h1>Employee List</h1>

  <%for (i=0;i<allUser.length;i++){%>
    <% if(allUser[i].role=="Employee"){%>
      
      <%= allUser[i].name %> <br><br>

      


    <%}%>

  <%}%>








<%}%>
 
</body>
</html>